<div class="container">
  <header>
    <h1>Angular Filter Search Demo</h1>
    <div class="center">
  <!---->
  <span>
    <pagination-template
      #g="paginationApi"
      (pageChange)="p = $event"
      (pageBoundsCorrection)="pageBoundsCorrection.emit($event)"
    >

      <span
        *ngFor="let page of g.pages"
        [class.current]="g.getCurrent() === page.value"
      >
        <a class="newbutton2" *ngIf="g.getCurrent() === page.value">
          <span>  {{ page.label }}  </span>
        </a>
      </span>
    </pagination-template>
  </span>
  <!---->
    </div>
  </header>

  <div>
    <button class="yoy" (click)="([])"><a routerLink="/">Home</a></button>
    <button class="yoy" (click)="([])">
      <a routerLink="/routab">instructions</a>
    </button>
  </div>
  <button class="yoy" (click)="[addUSer()]">create</button>
  <button class="yoy" (click)="[deleteUSer()]">delete</button>
  <button class="yoy" (click)="[routab(), (p = 1)]">routab</button>
  <button class="yoy" (click)="[translate(), (p = 1)]">translate</button>
  <button class="yoy" (click)="[paging(), (p = 1)]">paging</button>

  <button class="yoy" (click)="[home()]">home</button>

  <input
    class="search-box"
    placeholder="start typing to narrow search"
    (keyup)="search($event.target.value); p = 1"
    type="text"
  />
  <router-outlet></router-outlet>
  <ul>
    <li
      *ngFor="
        let user of filteredUsers$
          | async
          | paginate: { itemsPerPage: 5, currentPage: p }
      "
    >
      <!--| paginate: { itemsPerPage: 5, currentPage: p }-->
      <h2 class="user" (click)="[showHide(user), (p = 1)]">{{ user.name }}</h2>

      <div class="collapse-able" *ngIf="user.show">
        <p>{{ user.address.street }}</p>
        <p>{{ user.address.suite }}</p>
        <p>{{ user.address.city }}</p>
        <p>{{ user.address.zipcode }}</p>
        <p>{{ user.email }}</p>
        <p>{{ user.phone }}</p>
      </div>
    </li>
  </ul>

  <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
  <div class="center">
  <!---->
  <span>
    <pagination-template
      #g="paginationApi"
      (pageChange)="p = $event"
      (pageBoundsCorrection)="pageBoundsCorrection.emit($event)"
    >
      <span  *ngIf="!g.isFirstPage()" class="pagination-first-page newbutton">
        <span (click)="g.setCurrent(1)"> &laquo; </span>
      </span>


      <span *ngIf="!g.isFirstPage()" class="pagination-previous newbutton" [class.disabled]="g.isFirstPage()">
        <a (click)="g.previous()"> &larr; </a>
      </span>

      <span

        *ngFor="let page of g.pages"
        [class.current]="g.getCurrent() === page.value"
      >
        <a class=" newbutton"
          (click)="g.setCurrent(page.value)"
          *ngIf="g.getCurrent() !== page.value"
        >
          <span> {{ page.label   }}  </span>
        </a>

        <a class="newbutton2" *ngIf="g.getCurrent() === page.value">
          <span>  {{ page.label }}  </span>
        </a>
      </span>

      <span *ngIf="!g.isLastPage()" class="pagination-next newbutton" [class.disabled]="g.isLastPage()">
        <a (click)="g.next()"> &rarr; </a>
      </span>

      <span *ngIf="!g.isLastPage()" class="pagination-last-page newbutton">
        <span   (click)="g.setCurrent(g.getLastPage())"> &raquo; </span>
      </span>

    </pagination-template>
  </span>
  <!---->
</div>

</div>
