<div class="container">
  <header>
    <h1>Angular Filter Search Demo</h1>
  </header>

  <div>
    <button class="yoy" (click)="([])"><a routerLink="/">Home</a></button>
    <button class="yoy" (click)="([])">
      <a routerLink="/routab">instructions</a>
    </button>
  </div>
  <button class="yoy" (click)="[addUSer()]">create</button>
  <button class="yoy" (click)="[deleteUSer()]">delete</button>
  <button class="yoy" (click)="[routab(),p=2]">routab</button>

  <button class="yoy"  (click)="[home()]">
    home 
     
  </button>

 

  <input
    class="search-box"
    placeholder="start typing to narrow search"
    (keyup)="search($event.target.value);p=1"
    type="text"
  />
  <router-outlet></router-outlet>
  <ul>
    <li *ngFor="let user of filteredUsers$ |async| paginate:{ itemsPerPage: 2, currentPage: p}">
      <h2 class="user" (click)="[showHide(user),p=1]">{{ user.name }}</h2>

      <div class="collapse-able" *ngIf="user.show">
        <p>{{ user.address.street }}</p>
        <p>{{ user.address.suite }}</p>
        <p>{{ user.address.city }}</p>
        <p>{{ user.address.zipcode }}</p>
        <p>{{ user.email }}</p>
        <p>{{ user.phone }}</p>
      </div>
    </li>
  </ul>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
